/*** General styles **/

.home-outer {
	margin: 25 auto;
	text-align: right;
	max-width: 1200px;
	min-width: 600px;    
	overflow: visible;
}
.home-inner {
	float: left;
	margin: 25 auto;
	text-align: left;
	width: 550px; 
	padding: 0 25 0 25;              
}
.home-inner2 {
	float: left;
	margin: 25 auto;
	text-align: left;
	width: 550px; 
	padding: 0 25 0 25;              
}
.home-element {
	margin: 0 25 25 25 auto;
	text-align: left;
}

input[type=text] {
	width: 1050;
	height: 45;
	box-sizing: border-box;
	border: 2px solid #8d8d8d;
	border-radius: 5 0 0 5;
	font-size: 100%;
	background-color: white;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: all 0.3s ease 0s;
}

input[type=text]:focus {
	font-size: 100%;
	color: #4f4f4f;
	background: #87a0b0;
}

.textbox {
	width: 1050;
	height: 150;
	box-sizing: border-box;
	border: 2px solid #8d8d8d;
	border-radius: 5 0 0 5;
	font-size: 100%;
	background-color: white;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: all 0.3s ease 0s;
}

button[type=submit] {
	height: 45;
	font-weight: 400;
	font-size: 100%;
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	width: 100px;
	color: #fff;
	background: #8d8d8d;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 5px 5px 0;
	transition: all 0.3s ease 0s;
}

button[type=submit-big] {
	height: 150;
	font-weight: 400;
	font-size: 100%;
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	width: 100px;
	color: #fff;
	background: #8d8d8d;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 5px 5px 0;
	transition: all 0.3s ease 0s;
}

button[type=submit]:hover {
	color: #fff;
	background: #678090;
}

button[type=submit-big]:hover {
	color: #fff;
	background: #678090;
}


/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	margin: 0 0;
	height: 30;
	float: left;
	border-radius: 0 20 0 0;
	outline: none;
	cursor: pointer;
	padding: 0px 16px;
	transition: 0.3s;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	color: #666666;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #678090;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #bbb;
	color: #222;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
	animation: fadeEffect 0.5s; /* Fading effect takes 0.5 second */
} 
/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
} 

a:link {
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

body {
	font-family: 'Lato', sans-serif;
	background: #6c6c6c; 
	margin: 0px 0px 30px 0px; 
	padding: 0;

}

.header-outer {
	background-color: white; 
	height:125px
}

.main-outer {
	background: #e1e1e1;
}

.main {
	padding: 20px 0; 
}

.footer {
	max-width: 1100px;
	color: white; 
	margin: 0 auto;
	text-align: left;
	padding: 30px 25 0 25; 
	overflow:hidden; 
	height: 100px;
	font-size: 95%
}

.sub-header {
	max-width: 1100px;
	padding: 0 25;
	height: 50px;
	margin: 0 auto;
	font-size: 40;
	color: #8d8d8d;
	font-family: 'Lato', sans-serif;
}

h1, h2, p {
	margin: 40 0 60 0; 
	padding: 0;
}


/*** Metadata tables **/
#table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 50px;
  margin: 100 auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  animation: float 5s infinite;
}
 
#table-fill th {
  color:#ffffff;;
  background:#8d8d8d;
  border-right: 1px solid #8d8d8d;
  font-family: 'Lato', sans-serif;
  height: 25px;
  padding: 0 15 2 15;
  font-size:20px;
  font-weight: 400;
  text-align:left;
  vertical-align:middle;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

#table-fill th:first-child {
  border-top-left-radius:3px;
}
 
#table-fill th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
#table-fill tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#403f3f;
  font-size:16px;
  font-weight:normal;
}
 
#table-fill tr:first-child {
  border-top:none;
}

#table-fill tr:last-child {
  border-bottom:none;
}
 
#table-fill tr:nth-child(odd) td {
  background:#EBEBEB;
}

#table-fill tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
#table-fill tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
#table-fill td {
  background:#FFFFFF;
  padding: 5 15 5 15;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  border-right: 1px solid #C1C3D1;
  height: 35px;
}

#table-fill td:last-child {
  border-right: 0px;
}

#table-fill th.text-left {
  text-align: left;
}

#table-fill th.text-center {
  text-align: center;
}

#table-fill th.text-right {
  text-align: right;
}

#table-fill td.text-left {
  text-align: left;
}

#table-fill td.text-center {
  text-align: center;
}

#table-fill td.text-right {
  text-align: right;
}


/*** Table Styles **/

.table-nav {
  border-collapse: collapse;
  height: 50px;
  margin: auto;
  width: 100%;
}
 
th {
  color:#ffffff;;
  background:#8d8d8d;
  font-family: 'Lato', sans-serif;
  font-size:14px;
  font-weight: 700;
  padding: 0px 0 0 10;
  text-align:left;
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:10px;
}
 
th:last-child {
  border-top-right-radius:10px;
}
  
tr {
  color:#403f3f;
  font-size:16px;
  font-weight:normal;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:10px;
}
 
td {
  background:#FFFFFF;
  padding:0 0 0 10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
}


/*** Header **/
.table-head-out {
  background:#8d8d8d;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border: none;
  padding: 0;
  border-collapse: collapse;
  border-radius:10px;
}

th {
  border-radius:10px;
}


/*** Scheme **/

.scheme-outer {
  border: none;
  padding: 0;
  border-collapse: collapse;
  background:#e1e1e1;  
}

.th {
  border-radius:0px;
}
.tr {
  border-radius:0px;
}
.td {
  border-radius:0px;
}


/*** Arrow shapes **/
.triangle-right {
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-left: 50px solid #aebec4;
	border-bottom: 40px solid transparent;
}

.rectangle {
  height: 80px;
  width: 45px;
  background-color: #aebec4;
  border-bottom-left-radius: 20px;
}


/*** Loading animation **/
.loader {
	position: absolute;
	left: 50%;
	margin-left: -85.5px;
	margin-top: -85.5px;
}

.square {
	background: #aebec4;
	width: 47px;
	height: 47px;
	float: left;
	top: -31px;
	margin-right: 16px;
	margin-top: 16px;
	position: relative;
	opacity: 0;
	animation: enter 4.2s infinite;
		-o-animation: enter 4.2s infinite;
		-ms-animation: enter 4.2s infinite;
		-webkit-animation: enter 4.2s infinite;
		-moz-animation: enter 4.2s infinite;
}

.enter {
	top: 0px;
	opacity: 1;
}

.square:nth-child(1) {
	animation-delay: 1.26s;
		-o-animation-delay: 1.26s;
		-ms-animation-delay: 1.26s;
		-webkit-animation-delay: 1.26s;
		-moz-animation-delay: 1.26s;
}

.square:nth-child(2) {
	animation-delay: 1.465s;
		-o-animation-delay: 1.465s;
		-ms-animation-delay: 1.465s;
		-webkit-animation-delay: 1.465s;
		-moz-animation-delay: 1.465s;
}

.square:nth-child(3) {
	animation-delay: 1.68s;
		-o-animation-delay: 1.68s;
		-ms-animation-delay: 1.68s;
		-webkit-animation-delay: 1.68s;
		-moz-animation-delay: 1.68s;
	background: #678090;
}

.square:nth-child(4) {
	animation-delay: 0.625s;
		-o-animation-delay: 0.625s;
		-ms-animation-delay: 0.625s;
		-webkit-animation-delay: 0.625s;
		-moz-animation-delay: 0.625s;
	animation-delay: 0.625s;
}

.square:nth-child(5) {
	animation-delay: 0.84s;
		-o-animation-delay: 0.84s;
		-ms-animation-delay: 0.84s;
		-webkit-animation-delay: 0.84s;
		-moz-animation-delay: 0.84s;
	animation-delay: 0.84s;
}

.square:nth-child(6) {
	animation-delay: 1.045s;
		-o-animation-delay: 1.045s;
		-ms-animation-delay: 1.045s;
		-webkit-animation-delay: 1.045s;
		-moz-animation-delay: 1.045s;
	animation-delay: 1.045s;
}

.square:nth-child(8) {
	animation-delay: 0.205s;
		-o-animation-delay: 0.205s;
		-ms-animation-delay: 0.205s;
		-webkit-animation-delay: 0.205s;
		-moz-animation-delay: 0.205s;
	animation-delay: 0.205s;
}

.square:nth-child(9) {
	animation-delay: 0.42s;
		-o-animation-delay: 0.42s;
		-ms-animation-delay: 0.42s;
		-webkit-animation-delay: 0.42s;
		-moz-animation-delay: 0.42s;
	animation-delay: 0.42s;
}

.clear {
	clear: both;
}

.last {
	margin-right: 0;
}



@keyframes enter {
	0% {
		opacity: 0;
		top: -31px;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: 31px;
	}
}

@-o-keyframes enter {
	0% {
		opacity: 0;
		top: -31px;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: 31px;
	}
}

@-ms-keyframes enter {
	0% {
		opacity: 0;
		top: -31px;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: 31px;
	}
}

@-webkit-keyframes enter {
	0% {
		opacity: 0;
		top: -31px;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: 31px;
	}
}

@-moz-keyframes enter {
	0% {
		opacity: 0;
		top: -31px;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: 31px;
	}
}

